`add uri` command does not conform in 100% to the Key Uri Format specification

The biggest issue is that the `secret` parameter is supposed to be:
> an arbitrary key value encoded in Base32 according to RFC 3548. The padding specified in RFC 3548 section 2.2 is not required and should be omitted.
~ [source](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#secret)

While the application handles this as plain text, not Base32.

Apart from that, parameters that are specified as optional in the specification, are required in the application. I didn't go through all of them yet, but at least `algorithm` is required, I got this exception after I didn't include it in the URI:
```
Traceback (most recent call last):
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/bin/otp", line 8, in <module>
    sys.exit(otp())
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/lib/click/core.py", line 1128, in __call__
    return self.main(*args, **kwargs)
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/lib/click/core.py", line 1053, in main
    rv = self.invoke(ctx)
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/lib/click/core.py", line 1659, in invoke
    return _process_result(sub_ctx.command.invoke(sub_ctx))
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/lib/click/core.py", line 1659, in invoke
    return _process_result(sub_ctx.command.invoke(sub_ctx))
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/lib/click/core.py", line 1395, in invoke
    return ctx.invoke(self.callback, **ctx.params)
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/lib/click/core.py", line 754, in invoke
    return __callback(*args, **kwargs)
  File "/Users/dstasczak/development/projects/onetimepass/__pypackages__/3.10/lib/click/decorators.py", line 26, in new_func
    return f(get_current_context(), *args, **kwargs)
  File "/Users/dstasczak/development/projects/onetimepass/onetimepass/otp.py", line 374, in add_uri
    uri_parsed = otp_auth_uri.parse(input_uri)
  File "/Users/dstasczak/development/projects/onetimepass/onetimepass/otp_auth_uri.py", line 46, in parse
    algorithm = OTPAlgorithm(query_parsed.get("algorithm")[0].lower())
TypeError: 'NoneType' object is not subscriptable
```

I think we could fix `secret` handling as part of the #38—[the PR for this specific issue](https://github.com/apptension/onetimepass/pull/58) got huge and adding one more chunk of changes would make the reviewers' life an even bigger nightmare.
And we should probably fix `secret` handling for all the input options (`add [totp|hotp|uri]`) at once anyway, as opposed to fixing this for `add uri`, but leaving the buggy behavior for the other ones.